.slider {
  padding-left: 10px;
  margin-bottom: 30px;
  width: 100%;
  transition: all 1s;
  padding-top: 30px;
  background-color: #ebeeec;

  button,
  button::after {
    position: absolute;
    background-color: rgb(51, 50, 50);
    width: 40px;
    height: 80px;
    z-index: 1;
    opacity: 0.8;
  }
}

.slick-track {
  //width: 1600px !important;
}

.slick-list {
  margin-right: 0 !important;
}

.slick-slide,
.slick-active,
.slick-current {
  width: 277px !important;
  margin-right: 40px !important;
}

.slick-next::after,
.slick-next:hover,
.slick-next:focus,
.slick-next {
  right: 0 !important;
}

.slick-prev:hover,
.slick-prev::after,
.slick-prev:focus,
.slick-prev {
  left: 0 !important;
}
