.slider {
  padding-left: 10px;
  margin-bottom: 30px;
  transition: all 1s;
  padding-top: 30px;
  background-color: #ebeeec;

  button,
  button::after,
  .slick-next::after,
  .slick-next:hover,
  .slick-next:focus,
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-prev::after {
    position: absolute;
    background-color: rgb(51, 50, 50);
    width: 40px;
    height: 80px;
    z-index: 1;
    opacity: 0.8;
  }
}

.slick-slide,
.slick-active,
.slick-current {
  @media (width < 1000px) {
    width: 290px !important;
    margin-right: 40px !important;
  }
}

.slick-next::after,
.slick-next:hover,
.slick-next:focus,
.slick-next {
  right: 0 !important;
}

.slick-prev:hover,
.slick-prev::after,
.slick-prev:focus,
.slick-prev {
  left: 0 !important;
}
